.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}
.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}
/* This is for popins font for firefox */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
}
.logo i {
  color: #ffffff;
}
.navbar-header {
  background: #coll;
}
.navbar-top-links > li > a {
  color: anel-title {
  background: #03a9f3;
}
/*Bread Crumb*/
.bg-title .breadcrumb .active {
  color: #03a9f3;
}
/*Sidebar*/
.sidebar {
  background: #fff;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.sidebar .label-custom {
  background: #fff;
}
#side-menu li a {
  color: #000;
}
.nav-second-level > li > a:hover{
#00ckground-color: #00f;
}
.nav-second-level > li > a:hover{
	background-color: #000;
}
.nav-second-level > li > a:focus {
  background-color: #000;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
  color: #fff;
  font-weight: 500;
  background: #2686AE url(../../images/menuhoverbg.png) repeat-x;
  border-radius:5px;
}

#side-menu ul > li > a:hover {
  color: #03a9f3;
  background: none;
}
#side-menu ul > li > a.active {
  color: #2b2b2b;
  font-weight: 500;
}
.sidebar #side-menu .user-pro .nav-second-level a:hover {
  color: #03a9f3;
}
.fix-sidebar .top-left-part {
  background: #03a9f3;
}
#side-menu .nav-second-level li:hover > a {
  color: #03a9f3;
}
/*themecolor*/
.bg-theme {
  background-color: #fb9678 !important;
}
.bg-theme-dark {
  background-color: #01c0c8 !important;
}
/*Chat widget*/
.chat-list .odd .chat-text {
  background: #03a9f3;
}
/*Button*/
.btn-custom {
  background: #03a9f3;
  border: 1px solid #03a9f3;
  color: #ffffff;
}
.btn-custom:hover {
  background: #03a9f3;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #03a9f3;
}
/*Custom tab*/
.customtab li.active a,
.customtab li.active a:hover,
.customtab li.active a:focus {
  border-bottom: 2px solid #03a9f3;
  color: #03a9f3;
}
.tabs-vertical li.active a,
.tabs-vertical li.active a:hover,
.tabs-vertical li.active a:focus {
  background: #03a9f3;
  border-right: 2px solid #03a9f3;
}
/*Nav-pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: #03a9f3;
  color: #ffffff;
}
