﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Branch_State_Approval.aspx.cs" Inherits="P2P_Portal.Process.Asset_Requisition.Branch_State_Approval" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
